<% provide(:title, 'Business') %>
<div>
<%= image_tag("b1.jpg") %>

<p>Most people are fearful of change because they don't believe they have any control over how or when it happens to them. Since change happens either to the individual or by the individual, Spencer Johnson shows us that what matters most is the attitude we have about change.

With the approach of the year 2000, most work environments are finally recognizing the urgent need to get their computers and other business systems up to speed and able to deal with unprecedented change. What businesses are only just beginning to realize is that this is not enough: we need to help people get ready, too. A great book if you want to change your life right now. </p>

</div>
<div>
<%= image_tag("b2.jpg") %>
<p>he Lean Startup provides a scientific approach to creating and managing startups and get a desired product to customers' hands faster. The Lean Startup method teaches you how to drive a startup-how to steer, when to turn, and when to persevere-and grow a business with maximum acceleration. It is a principled approach to new product development. A great book if you plan on taking the start up route. Even if you don't have such plans, doesn't hurt to get an insight, does it? </p>
</div>

