<% provide(:title, 'Help') %>

    <div>
    This page is for people who are new to the world of reading. We'll help you find a novel that might interest you. Just stay with us, and we'll keep you hooked!
    </div>

