 

<div class="center hero-unit">
<% provide(:title, 'Home') %>

    <h1>Books Niche</h1>
    <p>“Good friends, good books, and a sleepy conscience: this is the ideal life.” 
― Mark Twain</p>
   
</div>  
<div>
<h3>Have you ever</h3>
<h6>..been confused about what to read?</h6>
<h6>..had the desire to read but didn't know how to start?</h6>
<h6>..picked up a book but left it halfway because "I couldn't make time"</h6>
</div>

<div class="center">
<h4> You are in the right place genius. We're here to help you. Go explore! </h4>
</div>
