

<div class="center hero-unit">
<% provide(:title, 'Home') %>

    <h1>Books Niche</h1>
    <p>
   Here we suggest books you ought to have read based on your interests and age. 
    </p>
<h2> Are you a newbie to reading?</h2>
<h2> Are you confused about what to read? </h2>
<p> Fear not! You've come to the right place </p>

</div>  
