<% provide(:title, 'Romance') %>
<div>
<%= image_tag("r1.jpg") %>
<p>Emma and Dexter meet for the first time on the night of their graduation. Tomorrow they must go their separate ways. So where will they be on this one day next year? And the year after that? And every year that follows? 

Twenty years, two people, ONE DAY. 
</p>
</div>

<div>
<%= image_tag("r2.jpg") %>
<p>Every year hundreds of letters come pouring into the post office in Verona, Italy – all with one person in mind. They are all addressed to Juliet – the fictional heroine of William Shakespeare’s renowned play “Romeo and Juliet.” And each and every one of these letters are painstakingly read and answered by a group of ladies (and some gentlemen) who are known as the “Juliet Club.

And what are in these letters? Pleas to the one woman in the world who knows a thing or two about unrequited love – Juliet herself.
</p>
</div>

