<% provide(:title, 'Get Started') %>

<h2> Wondering where to start? </h2>
<h5> Relax we'll help you find your way. Now all you need to do is choose your genre from the list here.
Don't know which genre to choose? GO BLIND. Just trust us ;) </h5>
<div class="list">

<li><%= link_to "Business", 'business_path' %></li>
<li><%= link_to "Romance", '#' %></li>

</div>






