<<<<<<< HEAD
@import "bootstrap";
=======
@import bootstrap;

>>>>>>> modeling-users

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
<<<<<<< HEAD
  background-color:#FF9966;
=======
>>>>>>> modeling-users
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

<<<<<<< HEAD
h1, h4, h5, h6 {
  line-height: 1;
  font-family: "Tahoma", Geneva, sans-serif;
  
=======
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
>>>>>>> modeling-users
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
<<<<<<< HEAD
  color: #FFFF99;
=======
>>>>>>> modeling-users
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
<<<<<<< HEAD
  color: #FF6600;
=======
  color: #999;
>>>>>>> modeling-users
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
<<<<<<< HEAD
    font-family: "Tahoma", Geneva, sans-serif;
  font-style:italic;
  font-size:14px;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
h2, h3 
{
 color: #444;
 font-family: "Tahoma", Geneva, sans-serif;
}
=======
}

>>>>>>> modeling-users

